<!-- home.component.html -->
<div class="container">
    <div class="wrapper">
      <h1>Snake and Ladder Game</h1>
      <div class="card-wrapper">
        <div class="card snake" (click)="navigateTo('board-one')">One Player</div>
        <div class="card ladder" (click)="navigateTo('board-two')">Two Players</div>
      </div>
      <div class="card-wrapper">
        <div class="card snake" (click)="navigateTo('board-three')">Three Players</div>
        <div class="card ladder" (click)="navigateTo('board-four')">Four Players</div>
      </div>
    </div>
  </div>
  